.cf-container__vertical-tabs {
  display: flex;
  align-items: flex-start;
}

.cf-container__vertical-tabs .cf-container__tabs {
  flex: 0 0 20%;
  margin-right: -1px;
  position: relative;
  z-index: 1;
  padding: 0 !important;
  border-bottom: 1px solid #e2e4e7;
  background-color: #fbfbfc;
}

.cf-container__vertical-tabs .cf-container__tabs-list {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin: 0 0 -1px;
}

.cf-container__vertical-tabs .cf-container__tabs .cf-container__tabs-item {
  display: flex;
  align-items: center;
  padding: 8px 12px !important;
  border: 1px solid #e2e4e7;
  margin: 0;
  font-size: 12px;
  cursor: none;
  transition: background-color 0.1s linear, border-color 0.1s linear;
  font-weight: 600;
}

.cf-container__vertical-tabs .cf-container__tabs .cf-container__tabs-item button {
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.cf-container__vertical-tabs .cf-container__tabs .cf-container__tabs-item:first-child {
  border-top: none;
  border-bottom: none;
}

.cf-container__vertical-tabs .cf-container__tabs .cf-container__tabs-item--current {
  border-right-color: #fff !important;
}

/*
 * Radio switch
 */

.cf-switch ul {
  list-style-type: none;
  display: inline-flex;
}

.cf-switchul li {
  display: inline;
}

.cf-switch .cf-field__body {
  display: flex;
  overflow: hidden;
}

.cf-switch .cf-field__body input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.cf-switch .cf-field__body label {
  background-color: #f6f7f7;
  color: rgb(0 0 0 / 60%);
  font-size: 13px;
  line-height: 2.5;
  text-align: center;
  padding: 6px 16px;
  margin-right: -1px;
  border: 1px solid rgb(0 0 0 / 20%);
  box-shadow: inset 0 1px 3px rgba(0 0 0 / 30%), 0 1px rgba(255 255 255 / 10%);
  transition: all 0.1s ease-in-out;
}

.cf-switch .cf-field__body label:hover {
  cursor: pointer;
}

.cf-switch .cf-field__body input:checked + label {
  background-color: #007cba;
  border-color: #006ba1;
  color: #fff;
  box-shadow: none;
}

.cf-switch .cf-field__body li:first-of-type label {
  border-radius: 2px 0 0 2px;
}

.cf-switch .cf-field__body li:last-of-type label {
  border-radius: 0 2px 2px 0;
}
