.cf-container__vertical-tabs {
  display: flex;
  align-items: flex-start;
  background-color: #f9f9f9;
  overflow: hidden;

  .cf-container__fields {
    width: 100%;
    padding: 1.5rem;
    border-right: 1px solid #ededed;
  }

  .cf-field {
    border-color: #ededed !important;
    border-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &.cf-separator {
      border: 0 !important;
      padding-left: 0;
      padding-right: 0;

      &:first-child {
        padding-top: 0;
      }

      h3 {
        padding: 1rem;
        color: #000;
        background-color: #f9f9f9;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .cf-container__tabs {
    flex: 0 0 20%;
    margin-right: -1px;
    position: relative;
    z-index: 1;
    padding: 0 !important;
    border-color: #ededed;
    border-bottom: 1px solid;
    background-color: #f9f9f9;

    .cf-container__tabs-item {
      display: flex;
      align-items: center;
      padding: 0;
      border-color: #dfdfdf !important;
      border-top: 0;
      border-left: 0;
      border-bottom: 1px solid;
      font-size: 13px;
      margin: 0;
      cursor: none;
      transition: background-color 0.1s linear, border-color 0.1s linear;
      font-weight: 600;

      button {
        width: 100%;
        text-align: left;
        cursor: pointer;
        line-height: 18px;
        padding: 12px !important;
      }
    }

    .cf-container__tabs-item--current {
      border-right: 0;
    }
  }

  .cf-container__tabs-list {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0 0 -1px;
  }
}

/*
 * Radio switch
 */
.cf-switch {
  ul {
    list-style-type: none;
    display: inline-flex;
    overflow-wrap: normal;
  }

  li {
    display: inline;
  }

  .cf-field__body {
    display: flex;
    overflow: hidden;

    label {
      background-color: #f6f7f7;
      color: rgb(0 0 0 / 60%);
      font-size: 13px;
      line-height: 2.5;
      text-align: center;
      padding: 6px 16px;
      margin-right: -1px;
      border: 1px solid rgb(0 0 0 / 20%);
      box-shadow: inset 0 1px 3px rgba(0 0 0 / 30%), 0 1px rgba(255 255 255 / 10%);
      transition: all 0.1s ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;

      &:checked + label {
        background-color: #007cba;
        border-color: #006ba1;
        color: #fff;
        box-shadow: none;
      }
    }

    li:first-of-type label {
      border-radius: 2px 0 0 2px;
    }

    li:last-of-type label {
      border-radius: 0 2px 2px 0;
    }
  }
}
